<!DOCTYPE html>
<html>

<head>
    <title>Aesthetic Web UI</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='target.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="../static/target.css">
</head>

<body>
    <div class="container">
        <div class="indeterminate-progress-bar">
            <div class="indeterminate-progress-bar__progress"></div>
        </div>
        <h1>Upload current feed of the Surveillance</h1>
        <button id="select-btn">Select Video</button>
        <input type="file" id="file-input" accept="video/*" name="video" />
        <button id="upload-btn" disabled>Upload</button>
        <div id="preview-container">
            <video id="preview" width="320" height="240" controls></video>
        </div>
        <p style="color: red;">This for the demonstartion purposes, In real life the feed will be fed live</p>
    </div>

    <!-- <script src="{{ url_for('static', filename='target.js') }}"></script> -->
    <script src="../static/target.js"></script>
</body>

</html>